$envelope-bottom: #ea7179;

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.close {
  color: $accent_1;
  top: -5px;
  right: -5px;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
}

.close:hover,
.close:focus {
  color: $neutral;
  text-decoration: none;
  cursor: pointer;
}

input:focus{
  outline: 0;
}

::-webkit-input-placeholder {
   color: $background;
}

:-moz-placeholder {
   color: $background;
}

::-moz-placeholder {
   color: $background;
}

:-ms-input-placeholder {
   color: $background;
}


.envelope{
  position: relative;
  transition: all 2s 2s;
  transform-style: preserve-3d;
  transform: translateX(-240px);

  &__bottom{
    width: 480px;
    height: 330px;
    backface-visibility: hidden;
  }
}

.envelope__bottom--front{
  position: absolute;
  transform: rotateY(180deg);
  background-color: $accent_1;

}

.envelope__bottom--back{
  position: absolute;
  z-index: 999;
  background: $neutral;
}

.form {
  margin-top: -305px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 340px;
  text-align: center;
  border: 2px solid $accent_1;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  background: $background;
  z-index: 2;
  transition: all 2s;
  &__input{
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    width: 270px;
    border: 2px solid $accent_1;
    color: $background;
  }
  &__x-wrapper {
    width: 100%;
    height: 300px;
    position: relative;
  }
  &__btn{
    width: 50%;
    height: 40px;
    color: $background;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: $accent_1;
    cursor: pointer;
    z-index: 10;
  }
  &__btn:hover,
  &__btn:focus {
    color: $neutral;
  }
}

.top{
  position:absolute;
  top: 0px;
  left: -1px;
  width: 0;
  height: 0;
  border-top: 210px solid $neutral;
  border-left: 240px solid transparent;
  border-right: 240px solid transparent;
  transform:rotatex(180deg);
  transition: all 1s 1.5s;
  transform-style: preserve-3d;
  transform-origin: 100% 0%;
  z-index: -1;
}

.right{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height :0;
  border-top: 165px solid transparent;
  border-right: 241px solid $accent_1;
  border-bottom: 165px solid transparent;
  z-index: 3;
}

.bottom{
  position:absolute;
  bottom: 0px;
  left: -1px;
  width: 0;
  height: 0;
  border-bottom: 165px solid $envelope-bottom;
  border-left: 241px solid transparent;
  border-right: 241px solid transparent;
  z-index: 3;
}

.left{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 165px solid transparent;
  border-left: 241px solid $accent_1;
  border-bottom: 165px solid transparent;
  z-index: 3;
}

.confirm{
  margin-top: 50px;
  margin-bottom:-15px;
  text-align:center;
  font-family: $second_font;
  color: $background;
}
