$envelope-bottom: #ea7179;

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: rgba($background, 0.4);
  color: $accent_1;
  padding: 150px;
  width: 100%;
}

.close {
  color: $accent_1;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.close:hover,
.close:focus {
  color: $neutral;
  text-decoration: none;
  cursor: pointer;
}

input:focus{
  outline: 0;
}

::-webkit-input-placeholder {
   color: $background;
}

:-moz-placeholder { /* Firefox 18- */
   color: $background;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $background;
}

:-ms-input-placeholder {
   color: $background;
}


.l-envelope-container{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope{
  position: relative;
  width: 50%;
  height: 250px;
  transition: all 2s 2s;
	transform-style: preserve-3d;
  transform-origin: 50% 50%;

  &__bottom{
    width: 500px;
    height: 350px;
    backface-visibility: hidden;
  }
}

.envelope__bottom--front{
  position: absolute;
  transform: rotateY(180deg);
  background-color: $accent_1;

}

.envelope__bottom--back{
  position: absolute;
  z-index: 999;
  background: $neutral;
}

.form {
  margin-top: -320px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 360px;
  text-align: center;
  border: 2px solid $accent_1;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  background: $background;
  z-index: 2;
  transition: all 2s;
  &__input{
    font-size: 14px;
    padding: 10px;
    margin: 10px ;
    width: 280px;
    border: 2px solid $accent_1;
    color: $background;
  }
  &__x-wrapper {
    width: 100%;
    height: 310px;
    position: relative;
  }
  &__btn{
    width: 60%;
    height: 40px;
    color: $background;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: $accent_1;
    cursor: pointer;
    z-index: 5;
  }
  &__btn:hover,
  &__btn:focus {
    color: $neutral;
  }
}

.top{
  position:absolute;
  top: 0px;
  left: -1px;
  width: 0;
  height: 0;
  border-top: 230px solid $neutral;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  transform:rotatex(180deg);
  transition: all 1s 1.5s;
  transform-style: preserve-3d;
  transform-origin: 100% 0%;
  z-index: -1;
}

.right{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height :0;
  border-top: 175px solid transparent;
  border-right: 251px solid $accent_1;
  border-bottom: 175px solid transparent;
  z-index: 3;
}

.bottom{
  position:absolute;
  bottom: 0px;
  left: -1px;
  width: 0;
  height: 0;
  border-bottom: 175px solid $envelope-bottom;
  border-left: 251px solid transparent;
  border-right: 251px solid transparent;
  z-index: 3;
}

.left{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 175px solid transparent;
  border-left: 251px solid $accent_1;
  border-bottom: 175px solid transparent;
  z-index: 3;
}

.confirm{
  margin-top: 50px;
  margin-bottom:-15px;
  text-align:center;
  font-family: $second_font;
  color: $background;
}
